name: Android Release

# 1
on:
  # 2
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

  # 3
  workflow_dispatch:

# 4
jobs:
  # 5
  build:
    # 6
    runs-on: ubuntu-latest

    # 7
    steps:
      # 8
      - uses: actions/checkout@v3
      # 9
      - uses: actions/setup-java@v3
        with:
          distribution: "zulu"
          java-version: "12.x"
          cache: "gradle"
      # 10
      - uses: subosito/flutter-action@v2
        with:
          # 11
          flutter-version: "3.13.1"
          channel: "stable"
          cache: true
      - name: Enable macOS build
        run: flutter config --enable-macos-desktop
      # 12
      - name: Get dependencies
        run: flutter pub get

      - name: Build IPA
        run: flutter build ipa

      - name: Upload IPA
        uses: actions/upload-artifact@v2
        with:
          name: ipa
          path: build/ios/iphoneos/Runner.ipa
